* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #022c56;
    color: #ffffff;
    font-family: sans-serif;
}

nav {
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.logo-image {
    height: 40px;
    width: 40px;
    filter: invert(99%) sepia(5%) saturate(924%) hue-rotate(172deg) brightness(118%) contrast(100%);
    margin-right: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left, .right {
    flex-basis: 48%;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    background: #f4f4f4;
    color: #000;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 18px;
    resize: vertical;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    height: 300px;
    background: #f4f4f4;
    border: 0;
    outline: 0;
}

label i {
    margin-right: 10px;
    margin-left: 10px;
}

label {
    display: flex;
    align-items: center;
    background: #00173a;
    height: 30px;
}
